.bannerImage {
  height: 90vh !important;
  margin: 0 !important;
}

.captionHeader {
  padding: 60px 20% 60px 123px;
}

.captionHeader h1 {
  font-size: 65px !important;
}

/* .bannerCaption {
    font-size: 65px !important;
} */

.content {
  max-width: 700px;
  margin: auto;
}

.content img {
  display: block;
  max-width: 350px !important;
  margin: auto;
  border-radius: 20px;
}

.content h6 {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

.content p,
h3,
h2,
li {
  font-size: 20px;
  line-height: 1.65;
}

.commentSection {
  margin-top: 100px;
}

@media (max-width: 479px) {
  /* h1 {
        font-size: 30px !important;
    } */

  .content img {
    max-width: 300px !important;
  }

  .captionHeader h1 {
    font-size: 30px !important;
  }

  .bannerImage {
    filter: brightness(95%) !important;
    height: 80vh !important;
    margin: 0 !important;
  }

  .articleSection {
    position: relative;
    background-color: white;
    width: 90%;
    margin: 0 auto 0 auto;
    margin-top: -40px !important;
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  .bannerCaption {
    font-weight: 800 !important;
    font-size: 72px !important;
  }

  .captionHeader h1 {
    padding: 110px 46px 70px !important;
    max-width: 900px;
    font-family: "Arial" !important;
  }
}

ul {
  list-style-type: disc; /* this should be the default style */
}

em {
  color: black !important;
}
